@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-teal: 8, 61, 52;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@supports (-webkit-touch-callout: none) {
  
} */
/* 
html {
  @apply snap-mandatory;
  @apply snap-y;
} */

@keyframes textAppear {
  0% { width: 0%; }
  20% { width: 100%; }
  80% { width: 100%; }
  100% { width: 0%; }
}

.textAppear {
  animation: textAppear 2.5s ease-in-out 0s 1;
  text-overflow: clip;
  white-space: nowrap;
  overflow-x: hidden;
  padding-bottom: 8px;
}

.fullScreenSection {
  @apply w-screen;
  @apply h-screen;
  @apply supports-[height:100dvh]:h-[100dvh];
  @apply snap-always;
  @apply snap-start;
}

.fullScreenSubSectionWrapper {
  @apply flex;
  @apply flex-col;
  @apply w-screen;
  @apply h-screen;
  @apply supports-[height:100dvh]:h-[100dvh];
  @apply overflow-auto;
  @apply snap-mandatory;
  @apply snap-y;
}

.h-screen-adaptive {
  @apply h-screen;
  @apply supports-[height:100dvh]:h-[100dvh];
}

body {
  @apply font-sans;
  @apply text-text-black;
  @apply bg-trusty-500;
}

li {
  @apply ml-12 -indent-12 text-5 before:content-[""] before:inline-block before:bg-checked-box before:bg-contain before:bg-no-repeat before:bg-center before:w-[2rem] before:h-[2rem] before:mr-4 before:align-bottom my-2 sm:my-3;
}

h1, h2, h3, h4 {
  @apply font-sans;
  @apply font-bold;
  @apply text-trusty-100;
}

h1 {
  @apply text-4xl;
  @apply md:text-5xl;
  @apply lg:text-6xl;
  @apply text-serenity;
  @apply font-display;
}

h2 {
  @apply text-2xl;
  @apply md:text-3xl;
  @apply lg:text-4xl;
  @apply font-semibold;
  @apply mb-7;
}

h3 {
  @apply text-2xl;
  @apply md:text-3xl;
  @apply lg:text-4xl;
}

h4 {
  @apply text-2xl;
  @apply md:text-3xl;
  @apply lg:text-4xl;
}

h5 {
  @apply text-lg;
  @apply md:text-xl;
  @apply lg:text-2xl;
  @apply text-serenity;
}

.btn {
  @apply rounded-md;
  @apply bg-serenity;
  @apply hover:bg-serenity-shade;
  @apply px-4;
  @apply pt-1;
  @apply pb-2;
  @apply mt-4;
  @apply shadow-md;
  @apply hover:shadow-sm;
  @apply text-trusty-500;
  @apply text-lg;
  @apply font-sans;
  @apply font-semibold;
  @apply hover:font-bold;
}

.gold-and-bold {
  @apply font-bold;
  @apply text-serenity;
}

.text-1, .text-2, .text-3, .text-4, .text-5 {
  @apply font-sans;
  @apply text-trusty-50;
}

.text-1 {
  @apply text-3xl;
  @apply md:text-4xl;
  @apply lg:text-5xl;
  @apply font-light;
}

.text-2 {
  @apply text-2xl;
  @apply md:text-3xl;
  @apply lg:text-4xl;
  @apply font-normal;
}

.text-3 {
  @apply text-xl;
  @apply md:text-2xl;
  @apply lg:text-3xl;
  @apply font-medium;
}

.text-4 {
  @apply text-lg;
  @apply md:text-xl;
  @apply lg:text-2xl;
  @apply font-bold;
}

.text-5 {
  @apply text-base;
  @apply md:text-lg;
  @apply lg:text-xl;
  @apply font-normal;
}

.text-footer {
  @apply font-sans;
  @apply text-base;
  @apply font-normal;
  @apply text-serenity;
}
